// ================ОБЩИЕ СТИЛИ=================//

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 62.5%; //10px
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  font-family: "Source Sans 3", sans-serif;
  font-style: normal;
  font-weight: 400;
}

a {
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  color: inherit;
}

// ================СТИЛИ ЛОГОТИПА=================//
.logo {
  width: 120px;
  height: 25px;
}


